
$halftone: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAHElEQVQYV2NUVFT8f//+fUYGBgYGMAEDcA5IBQCKJQVmn76DhAAAAABJRU5ErkJggg==");

// layout

//sizes
$logo-size: 2.5rem;

//.....
$white: #ffffff;
$dark: #616161;
$gray: #72757e;
$gray-1: #a4b0be;
$gray-2: #ced6e0;
$themed: #7f5af0;
$yellow: #feab32;
$background-primary: #16161a;
$background-secondary: #7f5af0;
$background-screen: #242629;
$text-primary: #fffffe;
$text-secondary: #94a1b2;
$shadow: #7f5af0;
$btn: #1f2027;
$success-1: #7bed9f;
$success-2: #25bc63;
$error-1: #ff6b81;
$error-2: #ff4757;
$subtle-gray: #f3f3f4;
$subtle-gray-2: #dfe4ea;
$shadow-dark: #212121;
$border: #ebedef;